.main-section {
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  border-radius: 25px;
  padding: 0px 25px;
  padding-bottom: 50px;
}

.available-movies-title {
  text-align: center;
  font-size:x-large;
}

.movies-header {
  display: grid;
  font-weight: bold;
  grid-template-columns: 5fr 5fr 5fr 2fr 2fr;
}

.movie-header-name {
  padding-left: 20px;
}

.movie-header-stock {
  text-align: center;
}

.movie-items {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr 2fr 2fr;
  background-color: #D9D9D9;
  border-radius: 25px;
  margin-bottom: 20px;
}

.movie-name {
  padding-left: 20px;
}

.stock-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rent-button {
  background-color: #363636;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

.remove-button {
  background-color: #C93333;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

.movie-time {
  display: flex;
  padding: 16px 0px;
}

.movie-time input {
  width: 60px;
  border: none;
  text-align: center;
  font-weight: bold;
}

.movie-time button {
  color: #FFFFFF;
  background-color: #363636;
  border: none;
}

.check-img {
  height: 20px;
}